<ul class="nav nav-list">
	<li class="active"><a href="/home" class="J_menuItem" data-index="/home"> <i
			class="menu-icon  fa fa-home"></i> <span class="menu-text">首页</span>
	</a> <b class="arrow"></b></li>


	<li th:each="menu :${menuList}">
		<div th:if="${#lists.isEmpty(menu.children)}" th:remove="tag">
			<a th:href="@{${menu.href}}" class="J_menuItem"
				data-index="${menu.id}"> <i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text" th:text="${menu.name}">首页</span>
			</a> <b class="arrow"></b>
		</div>
		<div th:unless="${#lists.isEmpty(menu.children)}" th:remove="tag">
			<a href="#" class="dropdown-toggle"> <i
				  th:class="'menu-icon ace-icon '+${menu.icon}"></i> <span class="menu-text"
				th:text="${menu.name}"> 系统管理 </span> <b
				class="arrow fa fa-angle-down"></b>
			</a> <b class="arrow"></b>

			<ul class="submenu">
				<li th:each="menu2 :${menu.children}">
					<div th:if="${#lists.isEmpty(menu2.children)}" th:remove="tag">
						<a th:href="@{${menu2.href}}" class="J_menuItem"
							th:data-index="${menu2.id}"> <i
							class="menu-icon fa fa-caret-right"></i> <span class="menu-text"
							th:text="${menu2.name}">首页</span>
						</a> <b class="arrow"></b>
					</div>

					<div th:unless="${#lists.isEmpty(menu2.children)}" th:remove="tag">
						<a href="#" class="dropdown-toggle"> <i
							th:class="'menu-icon ace-icon '+${menu2.icon}"></i> <span class="menu-text"
							th:text="${menu2.name}"> 系统管理 </span> <b
							class="arrow fa fa-angle-down"></b>
						</a> <b class="arrow"></b>

						<ul class="submenu">
							<li th:each="menu3 :${menu2.children}">
								<div th:if="${#lists.isEmpty(menu3.children)}" th:remove="tag">
									<a th:href="@{${menu3.href}}" class="J_menuItem"
										th:data-index="${menu3.id}"> <i
										class="menu-icon fa fa-caret-right"></i> <span
										class="menu-text" th:text="${menu3.name}">首页</span>
									</a> <b class="arrow"></b>
								</div>
							</li>

						</ul>
				</li>

			</ul>
		</div>

	</li>
</ul>


