<head th:fragment="th_head(th_title,th_links,th_styles,th_script)">
    <!--  global begin   -->
    <title th:replace="${th_title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="keywords" content="id server">
    <meta name="description" content="id server是一个基于Spring Authorization Server的授权服务器">
    <meta name="author" content="felord.cn">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <!--  global end  -->
    <th:block th:replace="${th_links}"/>
    <th:block th:replace="${th_styles}"/>
    <th:block th:replace="${th_script}"/>

</head>