<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::th_head(~{::title},~{},~{},~{})">
    <title>客户端列表</title>
</head>
<body>




   




<footer th:include="layout/footer::th_footer(~{::script})">
    <script type="text/javascript">
        //手风琴
        $(function () {
            var $href = "/client/list"
            $('.nav-item').removeClass('active');
            $('.nav-subnav li').removeClass('active');
            $subnavToggle = $('ul.nav-subnav>li>a[href="' + $href + '"]');
            $subnavToggle.parents('li').addClass('active');
            $subnavToggle.parents('.nav-item-has-subnav').addClass('open').first().addClass('active');
        })
    </script>
</footer>
</body>
</html>