<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::th_head(~{::title},~{},~{},~{})">
    <title>客户端列表</title>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="layout/aside::th_aside"></aside>
        <!--End 左侧导航-->
        <!--头部信息-->
        <header th:replace="layout/header::th_header"></header>
        <!--End 头部信息-->
        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid p-t-15">
                <section class="content-header">
                    <h1>
                        <small>
                            <td>OAuth2客户端管理 > 客户端列表</td>
                        </small>
                    </h1>
                </section>
                <section class="content">
                    <!-- tools -->
                    <div id="toolbar" class="toolbar-btn-action">
                        <button id="btn_add" type="button" class="btn btn-primary m-r-5">
                            <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                        </button>
                    </div>
                    <!-- table container -->
                    <table id="tb_departments"></table>
                </section>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<footer th:include="layout/footer::th_footer(~{::script})">
    <script type="text/javascript">

        $('#btn_add').on('click',function () {
            layer.open({
                type: 1,
                shadeClose: false, //点击遮罩关闭
                content: $('#client-add-form'),
            });
        })
        <!--    表格    -->
        $('#tb_departments').bootstrapTable({
            classes: 'table table-bordered table-hover table-striped',
            url: '/client/pagination',
            method: 'get',
            dataType: 'json',
            uniqueId: 'id',
            idField: 'id',             // 每行的唯一标识字段
            toolbar: '#toolbar',       // 工具按钮容器
            //clickToSelect: true,     // 是否启用点击选中行
            showColumns: true,         // 是否显示所有的列
            showRefresh: true,         // 是否显示刷新按钮
            showToggle: false,        // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            pagination: true,                    // 是否显示分页
            sortOrder: "asc",                    // 排序方式
            responseHandler: function (response) {

                if (response.code === 200) {
                    var rows = response.data.content;
                    var total = response.data.totalPages
                    return {"rows": rows, "total": total}
                }
                return {};
            },
            queryParams: function (params) {
                return {
                    limit: params.limit,         // 每页数据量
                    offset: params.offset,       // sql语句起始索引
                    page: (params.offset / params.limit),
                    sort: params.sort,           // 排序的列名
                    sortOrder: params.order      // 排序方式'asc' 'desc'
                };
            },                                   // 传递参数
            sidePagination: "server",            // 分页方式：client客户端分页，server服务端分页
            pageNumber: 1,                       // 初始化加载第一页，默认第一页
            pageSize: 10,                        // 每页的记录行数
            pageList: [10, 25, 50, 100],         // 可供选择的每页的行数
            //search: true,                      // 是否显示表格搜索，此搜索是客户端搜索

            //showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
            //exportDataType: "basic", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据

            columns: [{
                field: 'example',
                checkbox: true    // 是否显示复选框
            }, {
                field: 'id',
                title: 'ID',
                sortable: true    // 是否排序
            }, {
                field: 'clientId',
                title: '客户端ID'
            }, {
                field: 'clientName',
                title: '客户端名称',
            }, {
                field: 'clientAuthenticationMethods',
                title: '认证方式'
            }, {
                field: 'authorizationGrantTypes',
                title: '授权类型'
            }, {
                field: 'clientIdIssuedAt',
                title: '创建时间'
            }/*, {
                field: 'status',
                title: '状态',
                formatter:function(value, row, index){
                    var tag;
                    if (row.status === '0') {
                        tag = '<span class="badge badge-danger">禁用</span>';
                    } else if(row.status === '1') {
                        tag = '<span class="badge badge-success">正常</span>';
                    }else {
                        tag = row.pType ;
                    }
                    return tag;
                }
            }*/, {
                field: 'operate',
                title: '操作',
                formatter: btnGroup,  // 自定义方法
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editUser(row);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        delUser(row);
                    }
                }
            }],
            onLoadSuccess: function () {
                $("[data-toggle='tooltip']").tooltip();
            }
        });

        // 操作按钮
        function btnGroup() {
            return '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
                '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        }

        // 操作方法 - 编辑
        function editUser() {
            alert('跳转修改信息');
        }

        // 操作方法 - 删除
        function delUser() {
            alert('信息删除成功');
        }


        //手风琴
        $(function () {
            var $href = "/client/list"
            $('.nav-item').removeClass('active');
            $('.nav-subnav li').removeClass('active');
            $subnavToggle = $('ul.nav-subnav>li>a[href="' + $href + '"]');
            $subnavToggle.parents('li').addClass('active');
            $subnavToggle.parents('.nav-item-has-subnav').addClass('open').first().addClass('active');
        })
    </script>
</footer>
</body>
<div class="card">

</div>
<form id="client-add-form"  action="#!" method="post" style="display: none" class="form-horizontal">
  <div class="form-row col-md-12">
 <!--     <div class="form-row row-cols-2">-->
      <div class="form-group col-md-6">
          <label for="clientName">客户端名称</label>
          <input type="text" class="form-control" id="clientName" name="clientName" value="" placeholder="请输入oauth2客户端名称" />
      </div>
          <div class="form-group col-md-6">
              <label for="type">栏目</label>
              <div class="form-controls">
                  <select name="type" class="form-control" id="type">
                      <option value="1">小说</option>
                      <option value="2">古籍</option>
                      <option value="3">专辑</option>
                      <option value="4">自传</option>
                  </select>
              </div>
          </div>
<!--      </div>-->

      <div class="form-group col-md-12">
          <label for="seo_keywords">关键词</label>
          <input type="text" class="form-control" id="seo_keywords" name="seo_keywords" value="" placeholder="关键词" />
      </div>
      <div class="form-group col-md-12">
          <label for="seo_description">描述</label>
          <textarea class="form-control" id="seo_description" name="seo_description" rows="5" value="" placeholder="描述"></textarea>
      </div>

      <div class="form-group col-md-12">
          <button type="submit" class="btn btn-primary">确 定</button>
          <button type="button" class="btn btn-default">取 消</button>
      </div>
  </div>
</form>

</html>