<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="common/layout :: common_header(~{::title},~{::link})">
<title>角色授权</title>
<link th:href="@{/resource/plugins/jstree/themes/default/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">功能权限：</a></li>
		<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">数据权限：</a></li>
    </ul>
    <div class="tab-content">
		<div id="tab-1" class="tab-pane fade in  active">
			<div id="menuTree"></div>
		</div>
		<div id="tab-2" class="tab-pane fade in">
			<div id="dataRuleTree"></div>
		</div>
	</div>
<form id="inputForm" class="form-horizontal" action="#" method="post">
		<input id="id" name="roleId" type="hidden" th:value="${roleId}"/>
		<input id="menuIds" name="menuIds" type="hidden" value=""/>
		<input id="dataRuleIds" name="dataRuleIds" type="hidden" value=""/>
	</form>
	<div th:replace="common/commonJS"></div>
	 <script th:src="@{/resource/plugins/jstree/jstree.min.js}" type="text/javascript"></script>
 <script th:inline="javascript">
var roleId=[[${roleId}]];
		var validateForm;
		var $table; // 父页面table表格id
		var $topIndex;//弹出窗口的 index
		function doSubmit(table, index){//回调函数，在编辑和保存动作时，供openDialog调用提交表单。
		  if(validateForm.form()){
			  $table = table;
			  $topIndex = index;
			  $("#inputForm").submit();
			  return true;
		  }
	
		  return false;
		}
		$(document).ready(function(){
		
			//功能权限
			$('#menuTree').jstree({
				'core' : {
					"multiple" : true,
					"animation" : 0,
					"themes" : { "icons":true ,"stripes":false},
					'data' : {
						"url" : ctx+"sys/menu/treeData?roleId="+roleId,
						"dataType" : "json" // needed only if you do not supply JSON headers
					}
				},
				'plugins' : [ "checkbox", 'types' , 'wholerow'],
				"types":{ 'default' : {
			                    'icon' : 'fa fa-file-text-o'
			                },
			                'html' : {
			                    'icon' : 'fa fa-file-code-o'
			                },
			                'btn':{'icon' : 'fa fa-square'}
				},
				'checkbox' : {  
	                // 禁用级联选中  
	                'three_state' : false,       
	                'cascade' : 'undetermined|down|up' //有三个选项，up, down, undetermined; 使用前需要先禁用three_state  
	            }  

			});
			//数据权限
			/* $('#dataRuleTree').jstree({
				'core' : {
					"multiple" : true,
					"animation" : 0,
					"themes" : { "icons":true ,"stripes":false},
					'data' : {
						"url" : ctx+"sys/area/treeData?roleId="+roleId,
						"dataType" : "json" // needed only if you do not supply JSON headers
					}
				},
				'plugins' : [ "checkbox", 'types' , 'wholerow'],
				"types":{ 'default' : {
			                    'icon' : 'fa fa-file-text-o'
			                },
			                '4' : {//权限type
			                    'icon' : ' fa fa-anchor'
			                }
				},
				'checkbox' : {  
	                // 禁用级联选中  
	                'three_state' : false,       
	                'cascade' : 'undetermined|down|up' //有三个选项，up, down, undetermined; 使用前需要先禁用three_state  
	            },  

			}); */
			
			//数据权限
			$('#dataRuleTree').jstree({
				'core' : {
					"multiple" : true,
					"animation" : 0,
					"themes" : { "icons":true ,"stripes":false},
					'data' : {
						"url" : ctx+"sys/area/treeData?roleId="+roleId,
						"dataType" : "json" // needed only if you do not supply JSON headers
					}
				},
				'plugins' : [ "checkbox", 'types' , 'wholerow'],
				"types":{ 'default' : {
			                    'icon' : 'fa fa-file-text-o'
			                },
			                'html' : {
			                    'icon' : 'fa fa-file-code-o'
			                },
			                'btn':{'icon' : 'fa fa-square'}
				},
				'checkbox' : {  
	                // 禁用级联选中  
	                'three_state' : false,       
	                'cascade' : 'undetermined|down|up' //有三个选项，up, down, undetermined; 使用前需要先禁用three_state  
	            }  

			});
		 
		
			validateForm = $("#inputForm").validate({
			
				submitHandler: function(form){
					//功能权限
					var ref = $('#menuTree').jstree(true);
					var ids = ref.get_selected();
					//取半选节点ID
					$("#menuTree li").has("i[class*='jstree-undetermined']").each(function(){
										ids+=","+$(this).attr("id");
					 });
					$("#menuIds").val(ids);
					
					
					//数据权限
					var data_ref = $('#dataRuleTree').jstree(true);
					var data_ids = data_ref.get_selected();
					//取半选节点ID
					$("#dataRuleTree li").has("i[class*='jstree-undetermined']").each(function(){
									data_ids+=","+$(this).attr("id");
					 });
					$("#dataRuleIds").val(data_ids);
					
					//数据权限
					/* var data_ref = $('#dataRuleTree').jstree(true);
					var nodes = data_ref.get_selected(true);
					var data_ids = new Array();
					for(var i=0; i<nodes.length; i++){
						
						if(nodes[i].type==='4'){
							data_ids.push(nodes[i].id);
						}
					}
					$("#dataRuleIds").val(data_ids.join(",")); */
					
					jp.loading();
					$.post(ctx+"sys/role/authSave",$('#inputForm').serialize(),function(data){
		                    if(data){
		                    	jp.success("保存成功");
	            	  			
		                    }else{
	            	  			jp.error("保存失败");
		                    }
		                    
		                    jp.close($topIndex);//关闭dialog
		            });
				},
				errorContainer: "#messageBox",
				errorPlacement: function(error, element) {
					$("#messageBox").text("输入有误，请先更正。");
					if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
						error.appendTo(element.parent().parent());
					} else {
						error.insertAfter(element);
					}
				}
			});

			
		});
		
	</script>
</body>
</html>